<div class="col-3"></div>

<div class="col-6">
  <% @posts_with_comments.each do |post| %>
  <div class="post-card">
    <div class="post-details">
      <div class="post-name-and-date">
        <p><strong><%= post[:writer] %></strong> ·
          <span class="light"><%= post[:date] %></p></span>
      </div>
      <h4 class="post-title"><%= post[:title] %></h4>
      <div class="post-image">
        <img src=<%= post[:photo] || "/image-alternative.png" %>>
      </div>
      <div class="post-content">
        <p><%= post[:content] %></p>
      </div>
      <div class="post-footer">
        <div class="rating">
          <p><%= post[:rating] || "No ratings" %></p>
          <i class="far fa-star"></i>
        </div>
        <a id="comment-link" href="#">Read comments (<%= post[:comments].count %>) </a>
      </div>
    </div>
      <div class="post-comments">
        <% post[:comments].each do |comment| %>
        <p><%= comment %></p>
        <% end %>
      </div>
  </div>
  <% end %>
</div>

<div class="col-3"></div>

