<div class="post-card">
  <div class="post-details">
    <div class="post-name-and-date">
      <p><strong><%= post[:writer] %></strong> · <span class="light"><%= post[:date] %></span></p>
    </div>
    <h4 class="post-title"><%= post[:title] %></h4>
    <% if post[:photo] %>
    <div class="post-image">
      <img src="<%= post[:photo] || "/image-alternative.png" %>">
    </div>
    <% end %>
    <div class="post-content">
      <p><%= post[:content] %></p>
    </div>
    <div class="post-footer">
      <div class="rating">
        <% if post[:rating] %>
        <i class="far fa-star"></i>
        <p><%= post[:rating]%>/5</p>
        <% else %>
        <p>No ratings yet</p>
        <% end %>
      </div>
      <a id="comment-link" href="#">Read comments (<%= post[:comments].count %>)</a>
    </div>
  </div>
  <div class="post-comments invisible">
    <h6>Comments</h6>
    <% post[:comments].each_with_index do |comment, index| %>
    <p value=index ><%= comment %></p>
    <% end %>
  </div>
</div>

